ul.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #613813;
    text-align: center; 
    z-index: 2;
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%
}
li.rel{
    float:left;
    color:beige;
    border-right: 1px beige solid;
}
li.rel:last-child{
    border-right: none;
}
li.rel a{
    color: beige;
    font-family: tahoma;
    font-size: 1.6vw;
    padding: 2vh 2.616vw;
    font-style: italic;
    display: block;
    text-align: center;
    text-decoration: none;
}
li.rel a:hover{
    background-color: hsl(35, 60%, 45%);
}
li.rel #kosarSzam{
    position: relative;
    font-size: 1.3rem;
    border: black 2px solid;
    border-radius: 100px;
    background-color: beige;
    top: -1rem;
    right: 0.5rem;
    color: black;
    font-style: normal;
}
@media (max-width: 1024px) {
    ul.lista {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #613813;
        text-align: center; 
        z-index: 2;
        margin-top: 1rem;
        margin-left: 20%;
        margin-right: 20%;
        max-width: 60%
    }
    li.rel{
        float:left;
        color:beige;
        border-right: 1px beige solid;
    }
    li.rel:last-child{
        border-right: none;
    }
    li.rel a{
        color: beige;
        font-family: tahoma;
        font-size: 18px;
        padding: 16px 24.1px;
        font-style: italic;
        display: block;
        text-align: center;
        text-decoration: none;
    }
}
@media (max-width: 768px) {
    ul.lista {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #613813;
        text-align: center; 
        z-index: 2;
        margin-top: 1rem;
        margin-left: 20%;
        margin-right: 20%;
        max-width: 60%
    }
    li.rel{
        float:left;
        color:beige;
        border-right: 1px beige solid;
    }
    li.rel:last-child{
        border-right: none;
    }
    li.rel a{
        color: beige;
        font-family: tahoma;
        font-size: 15px;
        padding: 12px 14.5px;
        font-style: italic;
        display: block;
        text-align: center;
        text-decoration: none;
    }
}
@media (max-width:475px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 10px;
        padding: 0.88rem 0.831rem;
    }
    li.rel #kosarSzam{
        font-size: 10px;
        top: -0.4rem;
        right: 0.2rem;
    }
}
@media (max-width:450px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 9.5px;
        padding: 0.85rem 0.768rem;
    }
    li.rel #kosarSzam{
        font-size: 9.5px;
        top: -0.4rem;
        right: 0.2rem;
    }
}

@media (max-width:424px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 9px;
        padding: 0.84rem 0.71rem;
    }
    li.rel #kosarSzam{
        font-size: 9px;
        top: -0.4rem;
        right: 0.2rem;
    }
}
@media (max-width:400px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 8px;
        padding: 0.82rem 0.723rem;
    }
    li.rel #kosarSzam{
        font-size: 8px;
        top: -0.4rem;
        right: 0.2rem;
    }
}
@media (max-width:374px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 8px;
        padding: 0.8rem 0.607rem;
    }
    li.rel #kosarSzam{
        font-size: 8px;
        top: -0.4rem;
        right: 0.2rem;
    }
}
@media (max-width:361px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 7.8px;
        padding: 0.78rem 0.555rem;
    }
    li.rel #kosarSzam{
        font-size: 7.8px;
        top: -0.4rem;
        right: 0.2rem;
    }
}

@media (max-width:341px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 7.4px;
        padding: 0.75rem 0.504rem;
    }
    li.rel #kosarSzam{
        font-size: 7.4px;
        top: -0.4rem;
        right: 0.2rem;
    }
}

@media (max-width:321px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 7px;
        padding: 0.72rem 0.478rem;
    }
    li.rel #kosarSzam{
        font-size: 7px;
        top: -0.4rem;
        right: 0.2rem;
    }
}

@media (max-width:305px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 6.5px;
        padding: 0.7rem 0.421rem;
    }
    li.rel #kosarSzam{
        font-size: 6.5px;
        top: -0.4rem;
        right: 0.2rem;
    }
}

@media (max-width:280px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 6px;
        padding: 0.65rem 0.346rem;
    }
    li.rel #kosarSzam{
        font-size: 6px;
        top: -0.4rem;
        right: 0.2rem;
    }
}

@media (max-width:280px){
    ul.lista {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%
    }
    li.rel a{
        font-size: 6px;
        padding: 0.65rem 0.346rem;
    }
    li.rel #kosarSzam{
        font-size: 6px;
        top: -0.4rem;
        right: 0.2rem;
    }
}