body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, lightblue, #5578c8);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-size: 1.5dvw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#focim {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.4em;
    margin-top: 6%;
    text-transform: uppercase;
    color: rgb(30,30,120);
    text-shadow: 1px 1px 4px white ;
}

#szlogenek {
    position: absolute;
    text-align: center;
    float: right;
    right: 4%;
    left: 36%;
    text-shadow: 2px 2px 4px rgb(30,30,120) ;
}

#szlogen1 {
    font-size: 150%;
}

#szlogen2 {
    margin-top: 16px;
    font-size: 130%;
}

#mediara {
    cursor:pointer;
    color: rgb(30,30,120);
    text-shadow: 1px 1px 4px white;
}

#img-container {
    position: absolute;
    max-width: 30%;
    left: 4%;
}

#kezdolap-img {
    width: 100%;
    border: 2px solid rgb(30,30,120);
    border-radius: 500px;
    box-shadow: 2px 2px 4px rgb(30,30,120);
    transition: all 200ms ease-in-out;

}

#kezdolap-img:hover {
    width: 104%;
    box-shadow: 2px 2px 10px rgb(30,30,120);
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}

.hidden {
    display:none;
}

#info-table {
    position: absolute;
    text-align: center;
    left: 36%;
    right: 4%;
    top: 58%;
    width: 60%;
    z-index: -1;
    border: 1px solid rgb(30,30,120);
    box-shadow: 2px 2px 4px rgb(30,30,120);
    border-collapse: collapse;
    transition: all 200ms ease-in-out;
}
#info-table:hover {
    background-color: #728cc7;
    box-shadow: 2px 2px 10px rgb(30,30,120);
    transition: all 200ms ease-in-out;
}
#info-table-elso-sor {
    text-shadow: 2px 2px 4px rgb(30,30,120) ;
    text-transform: uppercase;
}
#info-table td {
    border: 1px solid rgb(30,30,120);
}
#ingyen {
    font-style: italic;
    text-decoration: underline;
}
#csillam {
    color: rgb(30,30,120);
    cursor: pointer;
}

@media (max-width: 425px) {
    #focim {
        font-size: 8dvw;
        margin-bottom: 1.5dvh;
        margin-top: 16%;
    }
    
    #szlogenek {
        position: absolute;
        right: 4%;
        left: 4%;
    }
    
    #szlogen1 {
        font-size: 5dvw;
    }
    
    #szlogen2 {
        margin-top: 16px;
        font-size: 4.2dvw;
    }
    #img-container {
        position: absolute;
        max-width: 50%;
        top: 40%;
        left: 25%;
        right: 25%;
    }
    
    #info-table {
        position: absolute;
        left: 6%;
        right: 6%;
        top: 76%;
        width: 88%;
        font-size: 3dvw;
    }
}

@media (max-width: 375px) {
    #focim {
        font-size: 8dvw;
        margin-bottom: 1.5dvh;
        margin-top: 16%;
    }
    
    #szlogenek {
        right: 4%;
        left: 4%;
    }
    
    #szlogen1 {
        font-size: 5dvw;
    }
    
    #szlogen2 {
        margin-top: 16px;
        font-size: 4.2dvw;
    }
    #img-container {
        position: absolute;
        max-width: 52%;
        top: 40%;
        left: 24%;
        right: 24%;
    }
    
    #info-table {
        position: absolute;
        left: 4%;
        right: 4%;
        top: 76%;
        width: 92%;
        font-size: 4dvw;
    }
}


@media (max-width: 320px) {
    #focim {
        font-size: 8dvw;
        margin-bottom: 1.5dvh;
        margin-top: 16%;
    }
    
    #szlogenek {
        right: 4%;
        left: 4%;
    }
    
    #szlogen1 {
        font-size: 5.6dvw;
    }
    
    #szlogen2 {
        margin-top: 16px;
        font-size: 5dvw;
    }
    #img-container {
        position: absolute;
        max-width: 60%;
        top: 40%;
        left: 20%;
        right: 20%;
    }
    
    #info-table {
        position: absolute;
        left: 4%;
        right: 4%;
        top: 76%;
        width: 92%;
        font-size: 4dvw;
    }
}


