.navbar {
    width: 92%;
    left: 4%;
    right: 4%;
    top: 1%;
    background-color: rgb(30,30,120);
    position: fixed;
    z-index: 10;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    float: left;
}
.navbar li:last-child {
    float: right;
}
.navbar a {
    font-size: 2.4dvw, 2.4dvh;
    color: lightblue;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1dvw 1.6dvw;
}
.navbar a:hover {
    color: rgb(30,30,120);
    background-color: aqua;
    cursor: pointer;
}
@media (max-width:320px) {
    .navbar a {
        font-size: 3.6dvw;
        padding: 3.2dvw;
    }
}
@media (max-width:375px) {
    .navbar a {
        font-size: 3.8dvw;
        padding: 3.2dvw;
    }
}
@media (max-width:425px) {
    .navbar a {
        font-size: 4dvw;
        padding: 3.2dvw;
    }
}